/* Soda Bubble Animation */

.bubble {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    animation-name: rise;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    will-change: transform; /* Optimization for animation performance */
}

@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        /* Bubbles will travel 100% of the container height plus an extra 20px */
        transform: translateY(-120px); 
        opacity: 0;
    }
}




