.top_section {
    background-color: #178896; /* Same as your sample image */
    padding: 20px 0;
    text-align: center;
    border: 2px solid rgb(35, 189, 178);
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
    box-shadow: 0 4px 8px 0 #88c3b8f3;
   
}
.top_section:hover{
    box-shadow: inset 5px 5px 18px 5px rgba(100, 245, 245, 0.79);
    transition: box-shadow 4s ease;
}
.powered_section{
    color: rgb(226, 196, 205);
    border: 2px solid #8ec5ced0;
    border-radius: 20px;           
    display: inline-block; 
    padding: 3px 18px;        
    background: transparent;
    box-shadow: inset 0 0 8px #6bfce2f3;
}
.powered_section:hover{
    box-shadow:
        0px 0px 15px 0px #2ee9e6,
        inset 2px 2px 10px 0px #2ee9e6;
}
body{
    margin: 0;
}
h1{
    color: rgb(252, 252, 252);
    border-color:rgb(16, 17, 18);
    text-align:center;
    text-shadow: 2px 2px 4px #d4d4d487;
    margin: 0;
}
h2{
    color: rgb(41, 175, 184);
    text-align: center;
    border: 2px solid #117480cf;
    border-radius: 8px;
    display: table;
    padding: 4px 16px;

    margin: 12px auto;
    
}