:root {
    --primary-color: #178896;
    --primary-color-dark: #117480;
    --primary-color-focus: #1e818c;
    --glow-color: #2ee9e6;
    --shadow-color: #88c3b8f3;
    --shadow-color-focus: rgba(23, 135, 150, 0.363);
    --border-color: #1c7a8679;
    --border-color-focus: #2ba6b6c0;
    --border-color-alt: #8ec5ced0;
    --powered-section: rgb(226, 196, 205);
    --shadow-container: rgba(39, 195, 192, 0.379);
    --top-letter-shadows:#13585880;
    --all-box-shadow:rgba(4, 69, 83, 0.263);
}
.top_section {
    position: relative; /* Added to contain the bubbles */
    background-color: var(--primary-color); 
    /* z-index: 1; Ensures bubbles appear on top of other content */
    padding: 20px 0;
    text-align: center;
    border: 2px solid rgb(35, 189, 178);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    /* Define both outset and inset shadows for a smooth transition */
    box-shadow: 0 4px 8px 0 var(--shadow-color), /* Outset shadow */
                inset 0px 0px 0px 0px rgba(100, 245, 245, 0); /* Inset shadow (initially transparent) */
    margin-bottom: 15px;
    transition: box-shadow 0.4s ease-in-out, transform 0.3s ease-in-out;
}
.top_section:hover{
    box-shadow: 0 2px 4px 0 var(--shadow-color),
                inset 0px 5px 18px 5px rgba(100, 245, 245, 0.505);
}
.powered_section{
    color: var(--powered-section);
    border: 2px solid var(--border-color-alt);
    border-radius: 20px;           
    display: inline-block; 
    padding: 3px 18px;        
    background: transparent;
    box-shadow:
      2px 2px 12px 0px var(--top-letter-shadows),
      inset 0 0 8px var(--glow-color);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.powered_section:hover{
    box-shadow:
        0px 0px 12px 0px var(--glow-color),
        inset 2px 2px 10px 0px var(--glow-color);
        transform: scale(1.04);
}
.gender-fieldset,
 .info-fieldset {
    position: relative;
    overflow: visible;
    border-color: var(--border-color);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.gender-fieldset:focus-within,
.info-fieldset:focus-within {
    border-color: #238e9c98;
    outline: none;
    box-shadow: 0px 0px 3px rgba(23, 135, 150, 0.354); 
    
}
.gender-fieldset:hover,
.info-fieldset:hover {
   transform: scale(1.02) translateY(-3px);
   box-shadow: 0px 1px 2px 0.5px var(--all-box-shadow);
}

.gender-click-handler,
.info-click-handler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.gender-legend,
 .info-legend {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 0 12px;
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: 600;
    pointer-events: none;
    transition: 
        top 0.4s cubic-bezier(.4,0,.2,1),
        font-size 0.4s cubic-bezier(.4,0,.2,1),
        color 0.4s cubic-bezier(.4,0,.2,1);
    z-index: 2;
}

.gender-option,
.info-option {
    position: relative; 
    z-index: 2;
    text-align: center;
    font-size: 1.1rem;           
    letter-spacing: 2px;
    opacity: 0;
    transform: translateY(24px);
    transition: opacity 0.4s, transform 0.4s;
}
.gender-option label {
    margin: 0 50px;             
    font-size: 1rem;           
}
.gender-option input[type="radio"] {
    accent-color: var(--primary-color-dark);
    transform: scale(1.6);     
    margin-right: 50px;
}
.gender-fieldset:focus-within .gender-legend,
.gender-fieldset:has(input:checked) .gender-legend {
    top: 0;
    font-size: 1rem;
    color: var(--primary-color-focus);
}
.info-fieldset.is-open .info-legend { 
    top: 0;
    font-size: 1rem;
    color: var(--primary-color-focus);
}
.gender-fieldset:focus-within .gender-option,
.gender-fieldset:has(input:checked) .gender-option {
    opacity: 1;
    transform: translateY(0);
}
.info-fieldset.is-open .info-option { 
    opacity: 1;
    transform: translateY(0);
}
body{

    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #f0f9ff;
    padding: 10px;
}
h1{
    color: rgb(252, 252, 252);
    border-color:0px 0px 15px rgba(50, 105, 108, 0.578);
    text-align:center;
    text-shadow: 3px 3px 5px var(--top-letter-shadows);
    margin: 0;
    transition: text-shadow 0.3s ease-in-out,transform 0.3s ease-in-out;
}
h1:hover{
 transform: scale(1.07);
}
h2{
    color: var(--primary-color);
    text-align: center;
    border: 2px solid var(--primary-color-dark);
    border-radius: 8px;
    display: table;
    padding: 4px 16px;
    margin: 30px auto;
    transition: color 0.3s ease-in-out;
    z-index: 1;
    box-shadow: 1px 1px 5px 0px rgba(19, 90, 98, 0.354),
    inset 0px 0px 4px 0px rgba(19, 90, 98, 0.251);
}

.contact-details {
    gap: 16px; /* Reduced gap to fit items better */
}
.contact-details p {
    flex: 1; /* Allows items to share space equally */
    min-width: 150px; /* Prevents items from becoming too small on resize */
}
.form-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 0px 18px var(--shadow-container);
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.form-container:hover {
    transform: scale(1.02);  /* This makes it grow slightly */
    box-shadow: 0px 0px 30px rgba(32, 223, 223, 0.5); /* This makes the shadow pop */
}
.input-group {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.input-item {
    flex: 1 1 45%;
}
.input-item {
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.input-item:hover{
   transform: scale(1.03) translateY(-4px);
}
textarea{
    border: 2px solid #1c7a8679;
    border-radius: 10px;
    padding: 8px;
    margin-top: 4px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s ease-in-out;
}
input[type="text"],
input[type="email"], 
input[type="number"], 
input[type="password"],
input[type="date"],
select {
    border: 2px solid var(--border-color);
    border-radius: 8px;
    padding: 8px;
    margin-top: 4px;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-color 0.3s;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="number"]:focus,         /*every Container shadows after selecting */
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
    border-color: var(--border-color-focus);
    outline: none;
    box-shadow: 0px 0px 6px var(--shadow-color-focus);
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
select:hover,
textarea:hover {
    transform: scale(1.03) translateY(-4px);
    box-shadow: 0px 1px 2px 0.5px var(--all-box-shadow);
}
input::-webkit-credentials-auto-fill-button {
            visibility: hidden;
            pointer-events: none;
            position: absolute;
            right: 0;
}

.EMAIL,
.PINCODE,
.NUMBER,
.HOUSE-NO {
 transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.EMAIL:hover,
.PINCODE:hover,
.NUMBER:hover,
.HOUSE-NO:hover{
 transform: scale(1.04) translateY(-5px);
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    box-shadow: 2px 2px 10px var(--top-letter-shadows);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
}

input[type="submit"]:hover {
    background-color: var(--primary-color-dark);
    box-shadow: 0 4px 10px var(--shadow-color-focus);
    transform: scale(1.02);
}

fieldset {
    border: 2px solid var(--border-color-alt);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
legend {
    color: var(--primary-color);
    text-align: center;
    font-weight: 600;
    padding: 0 10px;
}

@media (max-width: 640px) {
    .input-group, .input-item {
        flex: 1 1 100%; 
    }
}

::placeholder {
    text-align: center;
    /* You can add other styles here if you want */
    /* For example: color: #999; */
}

/* Styles for hidden trigger inputs */
#gender-trigger,
#info-trigger {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}